/*font-family: 'Exo 2', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/
:root{
    --white-color: #FFFFFF;
    --gap: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}
.main-bg{
    background-image: url(img/main-bg.svg);
    background-position: center;
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
}
#intro{
    height: 100vh;
    padding-top: 10rem;
}
.container{
    max-width: 120rem;
    margin: auto;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: -0.7rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: white;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 2rem 4%;
    position: fixed;
    background-color: #000000;
    transition: 1s;
    z-index: 1;
}
#header.rolagem{
    background-color: #000000;
    padding: 0.5rem 4%;
}
#header.rolagem a{
    color: white;
}
.section {
    border-bottom: solid 0.2rem grey;
}
.section#galeria{
    border-bottom: none;
}
body {
    font-family: 'Exo 2', sans-serif;
    background-image: url(img/main-bg.svg);
    background-position: center;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 8rem;
    text-transform: uppercase;
}
h2 {
    font-size: 6rem;
}
h3 {
    font: 5rem;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}
#this-is-cinema{
    height: 46rem;
}
#logo {
    align-items: left;
    height: 8rem;
    margin-left: 2rem;
}
#cinema {
    margin-top: 5rem;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0 4rem;
}
header ul li a{
    display: block;
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}

.intro-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gap);
    height: 90vh;
    align-items: center;
}
.intro-content h1{
    margin-bottom: 2rem;
}
.filme-poster{
    height: 50rem;
    border-radius: 10%;
    border: #535353 solid 0.2rem;
    z-index: 999;
}
.catalogo{
    margin-top: 4rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 4rem;
}

#filmes{
    padding-top: 10rem;
}
#galeria{
    padding-top: 10rem;
}
footer{
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #FFFFFF;
    font-style: italic;
}
.filme-img:hover{
    transform: scale(1.15);
    transition: transform 500ms ease-in-out;
}

#curiosidades{
    padding-top: 10rem;
}
.container-grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    column-gap: 10rem;
    align-items: center top;
}
img.curiosidades-img{
    height: 50rem;
    justify-self: center top;

}